// colocar fuentes en parrafos por ej.

//se coloca @mixing fuente-parrafos ()
//font-size 55 px por ej y asi, etc

//en los parentesis puedo colocar variables, siempre empiezan con $ por ejemplo, $size, $font-family, etc

@mixin fondo-y-fuente {
    background-color: #dcdcdc;
    font-size: 16px;
  }
  @mixin boton-primario {
  display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none; }
 
  
  