section>

.consulta { 
  
    padding-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
    margin-right: 25px;
    }

   
  
        
    
      
    
    .gradientboton a {
        color: black
    ; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-image: linear-gradient(to right, grey, white);
        text-decoration: none;
        border-radius: 1px;
      }
      