footer section

.iconosimg
  img  {
        position: fixed;
        right: 15px;
        bottom: 8px;
        transition: 3s;
        &:hover {
            transform: rotate(360deg);
        }
    }
    