
.body {
  background-color: gray;
}


/* _mobile.scss */

@media screen and (max-width: 600px) { 
  
  .contenedorlava4 .lava1    img {
    max-width: 50%;
    height: auto;
}


    .lavame4carbon {
   
        display: flex;
        justify-content: center;
       flex-wrap: wrap;
       
  
       }}
      
     
  
    /* _tablet.scss */

@media screen and (min-width: 601px) and (max-width: 960px) {

    .lavame4carbon {
        
            display: flex;
            justify-content: center;
           flex-wrap: wrap;
        
           img {
            max-width: 50%;
            height: auto;
        }
          } }

          /* _media desktop */

          @media screen and  (min-width: 961px) {
            .lavame4carbon {
           
              display: flex;
              justify-content: center;
             flex-wrap: wrap; }
          
             .contenedorlava4 {
              background-color: grey;
              max-width: 100%;
              height: auto;
          }
            }
          