/* _mobile.scss */

@media screen and (max-width: 500px) {
  /* Estilos específicos para pantallas móviles */
  /* _mobile.scss */

body {
  background-color: red;
  
}
.contenedordeimagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  img {
    width: 90px;
    height: 190px;
    margin: 5px;
  }
}


  button {
    background-color: black;
    color: grey;
    margin: 5px;

    &:hover {
      background-color: #dcdcdc;
      color: black;
    }
  }}
