/* _mobile.scss */

@media screen and (max-width: 500px) {
  /* Estilos específicos para pantallas móviles */
  /* _mobile.scss */

body {
  background-color: red;
  
}

 main 
     a { 
              display: flex;
              justify-content: center;
              flex-wrap: wrap;}}
