/* _tablet.scss */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
    background-color: blue;
  } 
}


.contenedordeimagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  img {
    width: 135px;
    height: 270px;
    margin: 7px;
  }
}


  button {
    background-color: black;
    color: grey;
    margin: 7px;

    &:hover {
      background-color: #dcdcdc;
      color: black;
    } }
    
      .grid-container {
        
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    
       
        width: 80%;
        margin: 0 auto;
    
        
        gap: 20px;
      
    
      .item1 {
        
        h2 {
          font-size: 2rem;
        }
    
       
        ul {
          padding-top: 50px;
        }
      }
    
      .item2 {
       
        video {
          width: calc(100% - 40px);
          height: calc(100% - 40px);
        }
      }
    }
    