/* _tablet.scss */

@media screen and (min-width: 501px) and (max-width: 960px) {
  /* Estilos específicos para tabletas */  body {
    background-color: blue;
  } 
}


.contenedordeimagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  img {
    width: 135px;
    height: 270px;
    margin: 7px;
  }
}


  button {
    background-color: black;
    color: grey;
    margin: 7px;

    &:hover {
      background-color: #dcdcdc;
      color: black;
    }
  
  .grid-container {
    /* Elimina grid para mobile */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Ajusta el ancho y margen para pantalla móvil */
    width: 100%;
    margin: 0;

    /* Elimina filas de la plantilla para que sea una columna */
    grid-template-rows: 1fr;
  }

  .item1 {
    /* Actualiza fondo y borde, manteniendo tamaño relativo */
    background-color: #dcdcdc;
    border-radius: 5px;
    margin-bottom: 5px;

    /* Ajusta tamaño de título para móviles */
    h2 {
      font-size: 1.5rem;
    }

    /* Ajusta margen interno superior para mayor balance */
    ul {
      padding-top: 40px;
    }
  }

  .item2 {
    /* Actualiza fondo y borde, manteniendo tamaño relativo */
    background-color: #B4B4B4;
    border-radius: 5px; }

    /* Ajusta video para ocupar máximo espacio disponible */
    video {
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      object-fit: cover;
      border-radius: 5px;
      margin: 20px;
    } }
  
